// Import variables.less
@import 'variables';

/***** RESET STYLES *****/
* {
	margin: 0;
	padding: 0;
	border: 0;
} // End reset

:focus {
	outline: none;
} // End :focus;

/***** GENERAL STYLINGS *****/
img {
	max-width: 90%;
} // End img

html {
	scroll-padding-top: 70px;
} // End html

html, body {
	height: 100%;
} // End html, body

body {
	.body-copy();
	color: @gray;
}  // End body

h2.unica {
	font-size: @font-base__lg;
	line-height: normal;
} // End h2.unica

/***** HEADER *****/
header {
	background-color: @teal;
	min-height: 100%;
	background-image: url('../images/lines-lgt.svg');
	background-position: bottom;
	.background();
	background-size: 200%;
	color: @white;

	.mobile-menu {
		height: 0;
		width: 100%;
		position: fixed;
		z-index: 100000;
		top: -20%;
		right: 0;
		overflow-y: hidden;
		transition: 0.5s;
		text-align: right;
		background-color: @gray;

		ul {
			li {
				list-style-type: none;
				padding: 5%;

				a {
					&:link, &:visited {
						color: @white;
						text-decoration: none;
						font-size: 3rem;
						transition: all 0.5s;
					} // End &:link, &:visited

					&:hover, &:active {
						color: @pink;
						transition: all 0.5s;
					} // End &:hover, &:active
				} // End a
			} // End li
		} // End ul
	} // End .mobile-menu

	.nav-bar {
		display: flex;
		padding: 10px 5%;
		position: fixed;
		background-color: @teal;
		width: 90%;
		z-index: 50;

		#logo {
			width: 60%;
			max-width: 400px;

			@media(min-width: 1050px) {
				max-width: 500px;
			} // End min-width 1050
		} // End #logo

		.toggle-button {
			background: none;
			position: absolute;
			top: 0;
			right: 0;
			line-height: 30px;
			padding: 12px;
			color: @white;
			border: 0;
			font-size: 1.75rem;
			font-weight: bold;
			cursor: pointer;
			outline: none;
			z-index: 55;

			@media (min-width: 500px) {
				line-height: 45px;
				font-size: @font-base__lg;
			} // End min-width 500
		} // End .toggle-button

		.desktop-menu {
			display: none;
		} // End .desktop-menu
	} // End .nav-bar

	#intro {
		padding-top: 150px;
		font-size: @font-base;
		line-height: 1.65;
		text-align: center;
		position: fixed;
		width: @default-width;
		max-width: @default-width__max__lg;
		left: 0;
		right: 0;
		margin: auto;

		.unica {
			line-height: 1.3;
		} // End .unica

		h1 {
			font-weight: 500;
		} // End h1

		.social-icons {
			display: flex;
			justify-content: center;

			div {
				margin: 20px;
			} // End div
		} // End .social-icons
	} // End #intro

	svg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 10vw;
		z-index: 10;
	} // End svg
} // End header

/***** MAIN *****/
main {
	background-color: @white;
	position: relative;

	#services {
		width: @default-width;
		max-width: @default-width__max__lg;
		margin: auto;
		padding: 25px 0 50px 0;

		.unica {
			padding: 50px 0 20px 0;
		} // End .unica

		.service-icons {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			figure {
				margin: 20px 0;

				img {
					display: block;
					margin: 20px auto;
				} // End img

				figcaption {
					text-align: center;
				} // End figcaption
			} // End figure
		} // End .service-icons
	} // End #services

	#about-me {
		background-image: url('../images/lines-md-left.svg');
		background-position: bottom left;
		background-repeat: no-repeat;
		background-size: 50%;
		margin: 0 auto;	
		padding-top: 10px;
		position: relative;

		svg {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 20vw;
		} // End svg

		.about-grid {
			width: @default-width;
			max-width: @default-width__max;
			margin: 25px auto 0 auto;
			padding-bottom: 100px;

			img {
				max-width: 250px;
				display: block;
				margin: 20px auto;
				border-radius: 0 100px;
			} // End img
		} // End .about-grid
	} // End #about-me

	#portfolio {
		margin: 0 auto;
		padding-top: 20px;
		position: relative;
		background-color: @light-blue;

		.filters {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			width: @default-width;
			max-width: @default-width__max;
			margin: 20px auto;

			.filter-link {
				display: block;
				min-width: 45px;
				font-size: @font-base;
				color: @white;
				background-color: @blue;
				text-decoration: none;
				padding: 5px 10px;
				margin: 5px 2.5px;
				border-radius: 20px;
				transition: 0.5s all;

				&:hover {
					background-color: @white;
					color: @blue;
					box-shadow: 0px 0px 0px 2px @blue;
					transition: 0.5s all;
				} // End &:hover
			} // End .filter-link
		} // End .filters

		.project-thumbnails {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding-bottom: 50px;

			.square {
				position: relative;
				width: 100%;

				&:after {
					content: "";
					display: block;
					padding-bottom: 100%;
					background-color: @white;
					opacity: 0.5;
				} // End &:after

				&.infinite-tech {
					background-image: url('../images/projects/infinite_tech_branding.png');
					background-repeat: no-repeat;
					background-size: 100%;
				} // End .infinite-tech

				&.rawlins-rv {
					background-image: url('../images/projects/bill_businesscard.png');
					background-repeat: no-repeat;
					background-size: 100%;
				} // End .rawlins-rv

				&.country-chic {
					background-image: url('../images/projects/countryChic_mockups.png');
					background-repeat: no-repeat;
					background-size: 100%;
				} // End .country-chic

				&.ffa {
					background-image: url('../images/projects/ffaBrochure_mockup.png');
					background-repeat: no-repeat;
					background-size: 100%;
				} // End .ffa

				.square-content {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					z-index: 2;

					img {
						display: block;
						width: 80%;
						max-width: 200px;
						margin: auto;
						filter: grayscale(100%);
						transition: 0.5s all;
					} // End img
				} // End .square-content

				&:hover {
					img {
						filter: grayscale(0);
						transition: 0.5s all;
					} // End img
				} // End End &:hover
			} // End .square
		} // End .project-thumbnails

		svg {
			position: absolute;
			bottom: -10vw;
			width: 100%;
			height: 10vw;
		} // End svg
	} // End #portfolio

	.contact-background {
		background-color: @white;
		background-image: url('../images/lines-md-left.svg'), url('../images/lines-md-right.svg');
		background-position: bottom left, bottom right;
		background-repeat: no-repeat;
		background-size: 40%;
		margin-top: -10vw;
		padding-top: 1px;

		#contact {
			margin: 100px auto auto auto;
			padding-top: 30px;
			width: @default-width;
			max-width: 700px;

			.contact-form {
				padding-bottom: 50px;

				p {
					padding: 20px 0;
					text-align: center;
				} // End p

				.email-link {	
					text-align: center;

					img {
						width: 30px;
						padding-right: 10px;
					} // End img

					a {
						color: @blue;
						text-decoration: none;
					} // End a
				} // End .email-link

				form {
					label {
						display: none;
					} // End label

					input, textarea {
						.body-copy();
						color: @gray;
						display: block;
						border: 2px @light-blue solid;
						border-radius: 20px;
						width: 90%;
						padding: 5px 5%;
						margin: 20px 0;
					} // End input, textarea

					textarea {
						resize: none;
					}
				} // End form
			} // End .contact-form
		} // End #contact

		svg {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 10vw;
		} // End svg
	} // End .contact-background
} // End main

/***** FOOTER *****/
footer {
	background-color: @gray;
	position: relative;
	padding-bottom: 20px;

	.footer-content {
		width: @default-width;
		max-width: @default-width__max__lg;
		margin: auto;
		color: @white;
		padding-top: 40px;

		.logo {
			display: block;
			width: 75%;
			max-width: 250px;
			margin: auto;
		} // End .logo

		.social-icons {
			display: flex;
			justify-content: center;

			div {
				margin: 10px;
			} // End div
		} // End .social-icons

		p {
			font-size: @font-base__sm;
			text-align: center;
		} // End p

		a {
			color: @light-blue;
			text-decoration: none;
			font-size: @font-base__md;
			text-align: center;
			display: block;
			margin: 20px auto;
		}
	} // End .footer-content
} // End footer

/***** MODAL WINDOWS *****/
.modals-container {
	.modal {
		position: fixed;
		z-index: 60;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4); 

		.modal-content {
			background-color: @white;
			margin: 15% auto;
			padding: 20px;
			border: 1px solid @gray;
			width: 80%;

			.close {
				color: @gray;
				float: right;
				font-size: 28px;
				font-weight: bold;

				&:hover, &:focus {
					color: @blue;
					text-decoration: none;
					cursor: pointer;
				} // End &:hover, &:focus
			} // End .close

			.banner-image {
				img {
					width: 100%;
					max-width: 100%
					height: 400px;
					object-fit: cover;
					object-position: 50% 15%;
					margin: 20px 0;
				} // End img
			} // End .banner-img

			.category {
				color: @teal;
			} // End .category

			h4 {
				font-style: italic;
				font-weight: normal;
				font-size: @font-base__md;
				color: @blue;
			} // End h4

			.unica {
				text-align: left;
				line-height: 50px;
			} // End .unica
		} // End .modal-content
	} // End .modal
} // End .modals-container

/***** MEDIA QUERIES *****/
@media(min-width: 550px) {
	main {
		#services {
			.service-icons {
				flex-direction: row;
				flex-wrap: wrap;

				figure {
					width: 45%;
				} // End figure
			} // End .service-icons
		} // End #services

		#about-me {
			background-size: contain;
		} // End #about-me

		#portfolio {
			.project-thumbnails {
				.square {
					width: 50%;

					.square-content {
						img {
							max-width: 150px;
						} // End img
					} // End .square-content
				} // End .square
			} // End .project-thumbnails
		} // End #portfolio

		.contact-background {
			background-size: 30%;

			#contact {
				margin-top: 150px;
			} // End #contact
		} // End .contact-background
	} // End main
} // End min-width 550

@media(min-width: 800px) {
	h2.unica {
		font-size: @font-head;
	} // End h2.unica

	header {
		#intro {
			padding-top: 200px;
			font-size: @font-base__md;

			.unica {
				font-size: @font-head__md;
			} // End .unica
		} // End #intro
	} // End header

	main {
		#about-me {
			.about-grid {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: 30px;
				grid-template-rows: auto auto auto;
				padding-bottom: 200px;

				h2.unica {
					padding-top: 100px;
					text-align: left;
				}  // End h2.unica

				img {
					max-width: 300px;
					margin: auto;
					grid-column-start: 2;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 3;
				} // End img

				

				a {
					grid-column-start: 2;
					grid-column-end: 3;
				} // End a
			} // End .about-grid
		} // End #about-me

		#portfolio {
			margin-top: -50px;
			padding-top: 25px;

			.filters {
				margin: 50px auto;
			} // End .filters

			.project-thumbnails {
				.square {
					width: 33.33%;
				} // End .square
			} // End .project-thumbnails
		} // End #portfolio

		.contact-background {
			#contact {
				margin-top: 175px;
				padding-top: 75px;
			} // #contact
		} // End .contact-background
	} // End main
} // End min-width 800

@media(min-width: 900px) {
	header {
		background-size: 100%;

		.nav-bar {
			.toggle-button {
				display: none;
			} // End .toggle-button

			.desktop-menu {
				text-align: right;
				flex-grow: 1;
				display: flex;
				justify-content: right;
				align-items: center;
				max-width: 600px;
				margin-left: auto;

				li {
					display: inline;
					list-style-type: none;
					flex-grow: 1;

					a {
						&:link, &:visited {
							color: @white;
							text-decoration: none;
							font-weight: 500;
							text-transform: uppercase;
						} // End &:link, &:visited;

						&:hover, &:active {
							color: @pink;
						} // End &:hover, &:active;
					} // End a
				} // End li
			} // End .desktop-menu
		} // End .nav-bar		
	} // End header

	main {
		#services {
			.service-icons {
				padding: 50px 0;
				figure {
					width: 20%;
				} // End figure
			} // End .service-icons
		} // End #services
	} // End main
} // End min-width 900

@media(min-width: 1050px) {
	main {
		#about-me {
			.about-grid {
				padding-bottom: 250px;

				img {
					max-width: 400px;
				} // End img
			} // End .about-gri
		} // End #about-me

		#portfolio {
			margin-top: -100px;
			padding-top: 50px;

			.project-thumbnails {
				.square {
					width: 25%;
				} // End .square
			} // End .project-thumbnails
		} // End #portfolio

		.contact-background {
			#contact {
				margin-top: 200px;
				padding: 100px;
			} // End #contact
		} // End .contact-background
	} // End main
} // End min-width 1050

@media(min-width: 1250px) {
	main {
		#portfolio {
			.project-thumbnails {
				.square {
					.square-content {
						img {
							max-width: 200px;
						} // End img
					} // End .square-content
				} // End .square
			} // End .project-thumbnails
		} // End #portfolio

		.contact-background {
			background-size: 25%;

			#contact {
				margin-top: 250px;
				padding-top: 50px;
			} // End #contact
		} // End .contact-background
	} // End main
} // End min-width 1250

@media(min-width: 1500px) {
	main {
		#about-me {
			.about-grid {
				padding-bottom: 350px;
			} // End .about-grid
		} // End #about-me

		.contact-background {
			background-size: 20%;

			#contact {
				margin-top: 350px;
			} // End #contact
		} // End .contact-background
	} // End main
} // End min-width 1500

@media(min-width: 1950px) {
	main {
		.contact-background {
			#contact {
				margin-top: 400px;
				padding-top: 100px;
			} // End #contact
		} // End .contact-background
	} // End main
} // End min-width 1950